
@import './mixins.scss';

$JumboBackColor:#f6f6f6;

.main{
    margin:0;
    padding:20px;
    margin-top:50px;
    .jumbotron{
        border-radius:0 0;
        background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
               color:#fff;
        .col{
            text-align: center;
        }
        .intro-img{
        height: 60vh;
        margin-top:-40px;
        width:50%;
        
        }
       
        .intro{
            padding-top:100px;
        }

        .intro span{
            font-size: 20px;
            
        }
    }

}