.main {
  margin: 0;
  padding: 20px;
  margin-top: 50px; }
  .main .jumbotron {
    border-radius: 0 0;
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
    color: #fff; }
    .main .jumbotron .col {
      text-align: center; }
    .main .jumbotron .intro-img {
      height: 60vh;
      margin-top: -40px;
      width: 50%; }
    .main .jumbotron .intro {
      padding-top: 100px; }
    .main .jumbotron .intro span {
      font-size: 20px; }

/*# sourceMappingURL=styles.css.map */
