

.login-container{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 60px;
    background-color: #f5f5f5;
    height:100vh;

}

.form-signin{
    padding:30px;
    text-align: center;
    box-shadow: 0px 20px 20px 2px slategray;
  
}

.login-container .form-signin .social{
display: flex;
align-content: center;
padding:20px;
}

