.navbar {
  margin: 0;
  background-color: #67EACA;
  text-align: center;
  box-shadow: 2px 0 20px 2px gray; }
  .navbar .navbar-toggler {
    color: #fff;
    outline: none;
    border: none;
    font-size: 30px; }
  .navbar .navbar-toggler-anim {
    transform: rotate(90deg);
    transition: 1s ease-in-out;
    font-size: 30px; }
  .navbar .navbar-brand {
    color: #fff; }
    .navbar .navbar-brand:hover {
      color: #1b7fbd;
      transition: .5s; }
  .navbar .nav .nav-link {
    color: #fff;
    border-color: #fff;
    font-weight: bold; }
    .navbar .nav .nav-link:hover {
      color: #1b7fbd;
      transition: .5s; }
  .navbar .nav input, .navbar .nav button {
    border-color: #fff;
    color: #fff; }
    .navbar .nav input.search-btn:hover, .navbar .nav button.search-btn:hover {
      transition: .5s;
      background-color: #1b7fbd; }

.appBtn {
  border-radius: 0 0; }

.mobile-card {
  padding-top: 20px;
  border: none;
  border-radius: 0 0;
  text-align: left; }
  .mobile-card .appBtn {
    margin-left: 7.5px;
    margin-right: 7.5px; }
  .mobile-card .card-body {
    background-color: #293462; }

/*# sourceMappingURL=styles.css.map */
