@import './mixins.scss';

$PrimaryColor:#67EACA;
$FontColor:#fff;
$HoverColor:#1b7fbd;


.navbar{
    margin:0;
    background-color: $PrimaryColor;
    text-align: center;
    box-shadow: 2px 0 20px 2px gray;
   

    .navbar-toggler{
        color:$FontColor;
        outline: none;
        border:none;
        font-size:30px;
    }


    .navbar-toggler-anim{
       transform: rotate(90deg);
       transition:1s ease-in-out;
       font-size:30px;
    }

    .navbar-brand{
       color:$FontColor;
       &:hover{
           color:$HoverColor;
           @include hover-trainsition;
 
        }
   }

    .nav 
   {
   .nav-link{
       color:$FontColor;
       border-color: $FontColor;
       font-weight: bold;

       &:hover{
           color:$HoverColor;
           @include hover-trainsition;
 
        }

   }
       input,button{
        
        border-color:$FontColor;
        color:$FontColor;
        
        &.search-btn:hover{
            @include hover-trainsition;
            background-color:$HoverColor;
            
        }

       }

   }

}

.appBtn{
    border-radius: 0 0;
    }

.mobile-card{
    padding-top:20px;
    border:none;
    border-radius: 0 0;
    text-align: left;
    .appBtn{
        margin-left: 7.5px;    
        margin-right:7.5px;    
    }
.card-body{ 
    background-color: #293462;
}
}

